.form
	= form_for @recipe, html: { multipart: true } do |f|
		- if @recipe.errors.any?
			= @recipe.errors.count

		.form-group.row
			= f.label :title, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.text_field :title, class: 'form-control'

		.form-group.row
			= f.label :description, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.text_area :description, class: 'form-control text-area-description'

		.form-group.row
			= f.label :image, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.file_field :image, class: 'form-control-file'

		.form-group.row
			= f.label :category, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: false }, { class: "form-control" }

		.form-group.row
			= f.label :time, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.text_field :time, class: 'form-control'

		.form-group.row
			= f.label :portion, class: 'col-sm-2 col-form-label'
			.col-sm-10
				= f.text_field :portion, class: 'form-control'

		.form-group.row
			%h3.col-sm-2.col-form-label Шаги
			#tasks.col-sm-10
				= f.fields_for :steps do |step|
					= render 'step_fields.html', f: step
				.links
					= link_to_add_association 'add steps', f, :steps, class: 'btn btn-success'
		.form-group

			= f.submit 'сохранить', class: 'btn btn-success'
