!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LegendaryRecipes
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{"ng-app" => "app"}
    .header.container-fluid
      %ul
        %li
          %a
            %div
              = link_to (image_tag "logo.png", class: 'logo'), '/'
        %li
          %div
            %input#searchText{:placeholder => " Find a recipe", :type => "text"}/
        %li
          %a{:href => ""}
            .nav-search
              %span
                %img{:alt => "search", :height => "23", :src => "https://images.media-allrecipes.com/ar-images/icons/NavSearchIcon.svg", :width => "23"}/
      .sign
        - if user_signed_in?
          = link_to "Выход", destroy_user_session_path, method: :delete, class: "btn btn-warning link-nav"
          = link_to 'new', new_recipe_path
        - else
          = link_to "Вход", new_user_session_path, class: "btn btn-warning link-nav"
          = link_to "Регистрация", new_user_registration_path, class: "btn btn-warning link-nav"
    - if current_page?(root_url)
      .container-fluid.category-recipes
        = render @categories 

    .container-fluid.content
      - if current_page?(root_url)
        .carousel-container
          #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
              %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
              %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
            .carousel-inner.rounded
              .carousel-item.active.img_wrap
                =image_tag 'shawarma.jpg', class: 'd-block w-100 rounded'
                .carousel-caption.d-none.d-md-block
                  %h5 Название
                  %p Описание
              .carousel-item.img_wrap
                =image_tag 'pork.jpg', class: 'd-block w-100 rounded'
                .carousel-caption.d-none.d-md-block
                  %h5 Название
                  %p Описание
              .carousel-item.img_wrap
                =image_tag 'olivie.jpg', class: 'd-block w-100 rounded'
                .carousel-caption.d-none.d-md-block
                  %h5 Название
                  %p Описание
            %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
              %span.carousel-control-prev-icon{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
              %span.carousel-control-next-icon{"aria-hidden" => "true"}
              %span.sr-only Next

      = yield
